{% extends "base.html.twig" %}

{% block title %}
	Edition de
	{{ category.name }}
{% endblock %}

{% block body %}
	<h1>Editer la catégorie
		{{ category.name }}</h1>

	{{ form_start(formView) }}

	{{ form_errors(formView) }}

	{{ form_row(formView.name )}}

	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Modifier la catégorie
	</button>
	{{ form_end(formView) }}
{% endblock %}
